//URL SHORTENER SETTINGS
const api = 'https://example.com/app-dir/api-dir' // full path to where the api endpoint will be hosted
const domainName = 'example.com' // where redirect page will be hosted
const isSecure = true // is server @ domainName https?
const baseUrlParam = '/r/' // directory where redirect page will be hosted 
const allowedCharacters =
  'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-_' // should match server config
const requestKeys = {
  mode: 'm',
  generate: 'g',
  save: 's'
} // WARNING: Only change if using custom/modified server code
